 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .bannerText {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 180px;
    }
    .btext h2{
        margin-bottom:20px;
    }
    .btext p{
        font-size:20px;
    }
    .ptext {
        padding: 0 0px;
        padding-bottom: 60px;
    }
    .btext {
        padding: 0px 0px;
    }
    .p_product p{
        margin-left:0px;
        padding:0;
        text-align:center;
    }
    .abtext p {
        font-size: 25px;
    }
    .gtext {
        text-align: center;
        padding-top: 100px;
    }
    .teste {
        background-color: #333333;
    }
    .timg{
        margin-top:30px;
    }
    .cbtn {
        margin-left: 0px;
        font-size: 12px;
    }
    .promo{
        padding-bottom:0;
    }
    .f-text{
        margin-bottom:30px;
        text-align:center;
    }
    .fotext{
        text-align:center;
    }
    .cmtitle{
        font-size:70px;
    }
    .contactText {
        padding: 0 0px;
    }
    .p {
        margin-top: 70px;
        padding: 0 0px;
    }
    .tcontent {
        text-align:center;
        padding-top: 90px;
    }
    .proText {
        padding: 20px 0px;
    }
    .box {
        margin-bottom: 30px;
    }
    .box h2{
        font-size:45px;
    }
    .box h3{
        font-size:28px;
    }
    .abtext {
        padding: 100px 0;
    }
    .contact {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    footer{
        padding:100px 0;
    }
    .fotext{
        padding: 0 0px;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .bannerText {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 180px;
    }
    .btext h2{
        margin-bottom:20px;
    }
    .btext p{
        font-size:20px;
    }
    .ptext {
        padding: 0 0px;
        padding-bottom: 60px;
    }
    .btext {
        padding: 0px 0px;
    }
    .p_product p{
        margin-left:0px;
        padding:0;
        text-align:center;
    }
    .abtext p {
        font-size: 25px;
    }
    .gtext {
        text-align: center;
        padding-top: 100px;
    }
    .teste {
        background-color: #333333;
    }
    .timg{
        margin-top:30px;
    }
    .cbtn {
        margin-left: -24px;
        font-size: 12px;
    }
    .promo{
        padding-bottom:0;
    }
    .f-text{
        margin-bottom:30px;
        text-align:center;
    }
    .fotext{
        text-align:center;
    }
    .cmtitle{
        font-size:70px;
    }
    .contactText {
        padding: 0 0px;
    }
    .p {
        margin-top: 70px;
        padding: 0 0px;
    }
    .tcontent {
        text-align:center;
        padding-top: 90px;
    }
    .proText {
        padding: 20px 0px;
    }
    .box {
        margin-bottom: 30px;
    }
    .box h2{
        font-size:45px;
    }
    .box h3{
        font-size:28px;
    }
    .abtext {
        padding: 150px 0;
    }
    .contact {
        padding-top: 120px;
        padding-bottom: 150px;
    }
    footer{
        padding:100px 0;
    }
    .fotext{
        padding: 0 100px;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .bannerText {
        padding-top: 0px;
        padding-bottom: 180px;
    }
    .btext h2{
        margin-bottom:20px;
    }
    .btext p{
        font-size:20px;
    }
    .ptext {
        padding: 0 0px;
        padding-bottom: 60px;
    }
    .btext {
        padding: 0px 0px;
    }
    .p_product p{
        margin-left:0px;
        padding:0;
        text-align:center;
    }
    .abtext p {
        font-size: 25px;
    }
    .cbtn {
        margin-left: -24px;
        font-size: 12px;
    }
    .f-text{
        margin-bottom:30px;
        text-align:center;
    }
    .fotext{
        text-align:center;
    }
    .cmtitle{
        font-size:70px;
    }
    .contactText {
        padding: 0 0px;
    }
    .tcontent {
        padding-top: 90px;
    }
    .proText {
        padding: 20px 0px;
    }
    .box h2{
        font-size:30px;
    }
    .box h3{
        font-size:14px;
    }
    .abtext {
        padding: 150px 0;
    }
    .contact {
        padding-top: 120px;
        padding-bottom: 150px;
    }
    footer{
        padding:100px 0;
    }
    .fotext{
        padding: 0 100px;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .btext h2{
        margin-bottom:20px;
    }
    .btext {
        padding: 0px 0px;
    }
    .p_product p{
        padding:0;
    }
    .abtext p {
        font-size: 35px;
    }
    .cbtn {
        margin-left:-25px;
        font-size:14px;
    }
    .abtext {
        padding: 150px 0;
    }
    .contact {
        padding-top: 120px;
        padding-bottom: 150px;
    }
    footer{
        padding:150px 0;
    }
    .fotext{
        padding-right:100px;
    }
}

 /* X-Large devices (desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width: 1399.98px) {

 }

 /* XX-large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* product start */
    .p_product p{
        margin-left:85px;
    }
    .tcontent {
        padding-top: 160px;
    }
    .box{
        padding:100px;
    }
}